%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "picontroller", "1",
        [
          kernel,
          stdlib,
         sasl,
         compiler,
         lager,
         inets,
         spi,
         gpio,
         piface,
         pisec
        ]},
       {rel, "start_clean", "",
         [
         kernel,
         stdlib
        ]},
       {boot_rel, "picontroller"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, hipe,        [{incl_cond, exclude}]},
       {app, gpio,        [{incl_cond, include}]}
      ]}.

{target_dir, "picontroller"}.

{overlay, [
           {mkdir,  "log/sasl"},
           {mkdir,  "log/www"},
           {mkdir,  "www/css"},
           {mkdir,  "www/gfx"},
           {mkdir,  "www/js"},
           {mkdir,  "www/logs"},
           {mkdir,  "www/jsolait"},
           {mkdir,  "www/html5"},
           {mkdir,  "www/data"},
           {copy,   "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy,   "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy,   "picontroller/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy,   "files/picontroller", "bin/picontroller"},
           {copy,   "files/picontroller.cmd", "bin/picontroller.cmd"},
           {copy,   "files/start_erl.cmd", "bin/start_erl.cmd"},
           %% Following line may be safely removed in new projects
           {copy,   "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy,   "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy,   "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.                                                                                                                                         